{
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ],
    "importOrder": [
        "^components/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "tabWidth": 4,
    "tailwindStylesheet": "./resources/css/app.css"
}
